<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/resources/css/style.css"/>

</head>
<body>



<div th:fragment="navbar" class="w3-top animated fadeIn" style="margin-bottom: 2%">
    <div class="w3-bar w3-white w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-light-grey" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/subscriptions" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Subscriptions</a>
        <a th:href="${user}!=null ? ${user.getUsername()} : '/auth'" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
        <a href="/search" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Search users</a>
        <a href="/createPost" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Add post</a>
    </div>
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="/subscriptions" class="w3-bar-item w3-button w3-padding-large">Subscriptions</a>
        <a th:href="${user}!=null ? ${user.getUsername()} : '/auth'" class="w3-bar-item w3-button w3-padding-large">Profile</a>
        <a href="/search" class="w3-bar-item w3-button w3-padding-large">Search users</a>
        <a href="/createPost" class="w3-bar-item w3-button w3-padding-large">Add post</a>
    </div>
</div>


<div class="w3-content" th:if="${user} != null">



    <div th:if="${posts != null}">
        <div class="w3-card-4 round" style="margin-top: 10%;" th:each="post : ${posts}">
            <img th:src="${post.getPathToPhoto()}" style="width: 100%;" alt="Norway">
            <div class="w3-container w3-center">
                <h5 th:text="${post.getUsername()}"></h5>
                <p th:text="${post.getDescription()}"></p>
                <button th:if="${user}!=null" th:id="${post.id}" onclick="likePost(this.id)" class="w3-button no-border">
                    <i class="fa fa-heart" >
                    </i>
                </button>
                <p th:id="${post.id} + '-count' " th:text="${post.likes}"></p>
            </div>

        </div>
    </div>
</div>

<div th:if="${user}==null">
    <a href="/auth">Auth</a>

</div>


<script>
    function likePost(id) {
        $.ajax({
            url: 'like',
            data: ({id: id}),
            success: function (data) {
                $('#' + id + '-count').html(data)
            }
        });
    }
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>