<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/resources/css/style.css"/>

</head>
<body>

<div th:include="~{index.html :: navbar}"></div>

<div th:if="${subs!=null}">

    <ul class="w3-ul w3-center w3-border" style="width: 70%; margin: auto;border-radius: 10px">
        <li><h2>Following</h2></li>
        <div th:each="sub:${subs}">
            <a th:href="|${sub}|"><li th:text="${sub}"></li></a>
        </div>
    </ul>

    <!--<div th:each="sub : ${subs}">-->
        <!--<a th:href="|/${sub}|" th:text="${sub}"></a>-->
    <!--</div>-->

</div>



</body>
</html>